<IfModule mod_rewrite.c>
    RewriteEngine On
    # static files (including favicon.ico in public/) will be served directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>