{% extends "layout.html.twig" %}

{% block title %}Fountain Parser - Home{% endblock %}

{% block content %}
    <h1>Fountain Parser</h1>
    <div id="root">
        <!-- React app will mount here -->
    </div>
{% endblock %}

{% block scripts %}
    <!-- You can add React/JavaScript bundle here when ready -->
    <script>
        // Placeholder for React app initialization
        console.log('Fountain Parser ready for React app');
    </script>
{% endblock %}